html, body {
    margin: 0;
    padding: 0;
    background-color: #ebeced;
    font-family: 'lora';
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

/* #content {
    position: relative;
} */

/* --- NAV BAR --- */

#navbar {
    left: 0;
}

nav ul {
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style-type: none;
    width: 150px;
    padding: 15px;
    margin-top: 175px;
    margin-left: 30px;
}

nav li a {
    text-align: center;
    margin: 30px;
    padding: 10px;
    background-color: #a9b0b3;
    border-radius: 25px;
    transition: .3s;
    color: white;
    text-decoration: none;
    display: block;
}

nav li a:hover {
    background-color: #20293f;
    transform: scale(1.5);
    transition: .3s;
}

/* gives the current page the larger button to show it is where you are now */
li .active { 
    transform: scale(1.5);
    background-color: #20293f;
    transition: .3s;
}

/* nav li:active {
    transform: scale(1.5);
    background-color: #20293f;
} */

/* --- WELCOME SECTION --- */

#welcome-section {
    /* background-image: url(imgs/home1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    min-height: 60vh;
    padding-top: 40vh;
    text-align: left;
}

#welcome-section h1 {
    color: #303739;
    font-size: 3.5rem;
    margin-left: 50px;
    margin-top: -250px;
}

#welcome-section h2 {
    color: #303739;
    font-size: 2rem;
    margin-left: 51.8px;
}

#arrow {
    position: static;
    height: 60px;
    width: 60px;
    margin-left: 50%;
    margin-top: 58vh;
    opacity: 0.4;
    transition: .3s;
}

#arrow:hover {
    transform: scale(1.5);
    transition: .3s;
    cursor: pointer;
    opacity: 0.6;
    background-color: #20293f;
    border-radius: 100%;
}

.position {
    position: relative;
}

/* --- WELCOME SLIDESHOW --- */

/* .slideshow,
.slideshow:after {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
}

.slideshow:after {
    content: '';
    background: transparent url(imgs/dot.png) repeat top left;
} */

.slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    text-align: left;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 18s linear infinite 0s;
    -moz-animation: imageAnimation 18s linear infinite 0s;
    -o-animation: imageAnimation 18s linear infinite 0s;
    -ms-animation: imageAnimation 18s linear infinite 0s;
    animation: imageAnimation 18s linear infinite 0s;
}

.slideshow li:nth-child(1) span {
    background-image: url(imgs/slide1.jpg);
}

.slideshow li:nth-child(2) span {
    background-image: url(imgs/slide2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
    background-image: url(imgs/slide3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}

@keyframes imageAnimation {
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    16% { opacity: 1; 
    animation-timing-function: ease-out; }
    33% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

.no-cssanimations .slideshow li span {
    opacity: 1;
}

/* --- SLIDE ANIMATION --- */

@-webkit-keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    animation-duration: 3s;
  }

  

/* --- ABOUT SECTION --- */

#about-section {
    min-height: 60vh;
    padding-top: 40vh;
    margin-left: 275px;
    /* margin-bottom: 20px; */
}

#about-section h1 {
    padding-top: 0px;
    color: #303739;
    padding-bottom: 20px;
    font-size: 1.75rem;
}

#about-section p {
    color: #303739;
    font-size: 1rem;
    margin-right: 22%;
}

#about-photo {
    background-image: url('imgs/me.jpg');
    background-position: center top;
    background-size: cover;
    border-radius: 50%;
    clear: both;
    float: left;
    width: 400px;
    height: 400px;
    margin-right: 20px;
}

/* --- PROJECTS --- */

#projects {
    min-height: 60vh;
    padding-top: 40vh;
    margin-left: 275px;
    margin-bottom: 40px;
    margin-right: 10%;
}

#projects h1 {
    font-size: 2.3rem;
    text-align: center;
    color: #303739;
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 35px;
    padding-bottom: 45px;
}

.projects-section a {
    text-decoration: none;
    color: #303739;
}

.projects-section a:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    width: 260px;
    max-width: 300px;
}

.project-photo {
    height: 300px;
    width: 300px;
    display: block;
}

.project-overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(32, 41, 63, 0.5);
    color: #fff;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 1.7rem;
    padding: 20px;
    text-align: center;
}

.container:hover .project-overlay{
    opacity: 1;
}

/* .project-tile {
    border: solid 4px #20293f;
} */

/* .project-title {
    font-size: 1.4rem;
    border-top: solid 3px #20293f;
    text-align: center;
} */


/* --- CONTACT FORM --- */

#contact {
    margin-top: 10px;
}

form#contact-form {
    min-height: 55vh;
    padding-top: 45vh;
    margin-left: 40%;
    margin-bottom: 80px;
    margin-right: 60%;
}

form#contact-form fieldset {
    border-radius: .5rem;
    padding-right: 20px;
}

form#contact-form legend {
    font-weight: 700;
    margin-left: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    color: #303739;
    font-size: 1.1rem;
}

form#contact-form span {
    display: block;
    padding: .8rem 0 0 .3rem;
    margin-left: 1rem;
}

form#contact-form .contact-info {
    color: #303739;
    width: 20rem;
    border-radius: .6rem;
    border: solid 1px #20293f;
    padding: .4rem;
    margin-left: 1rem;
}

form#contact-form .questions {
    margin-left: 1rem;
    margin-bottom: .8rem;
    border-radius: .6rem;
}

form#contact-form .button {
    width: 20rem;
    padding: .8rem;
    margin-top: 15px;
    margin-left: 28px;
    background-color: #20293f;
    border: solid 1px #000000;
    border-radius: .6rem;
    color: #ffffff;
}

form#contact-form .button:hover {
    cursor: pointer;
}

/* --- FOOTER --- */

#footer {
    display: flex;
    justify-content: center;
    background: #dbdcdd;
    padding-bottom: 15px;
    padding-top: 15px;
}

.social {
    background: #a9b0b3;
    text-decoration: none;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0px 25px 0px 25px;
    line-height: 80px;
    text-align: center;
    transition: .3s;
    margin-bottom: 0px;
}

.footer-button {
    height: 80px;
    width: 80px;
}

.social:hover {
    border-color: #000000;
    background-color: #20293f;
    transform: scale(1.2);
    transform: rotate(45deg);
    transition: .3s;
}
