html, body {
    margin: 0;
    padding: 0;
    background-color: #ebeced;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

/* --- NAV BAR --- */

#navbar {
    left: 0;
}

nav ul {
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style-type: none;
    width: 10%;
    padding: 15px;
    margin-top: 15%;
    margin-left: 30px;
}

nav li {
    text-align: center;
    margin: 30px;
    padding: 10px;
    background-color: #a9b0b3;
    border-radius: 25px;
    transition: .3s;
}

nav li:hover {
    background-color: #20293f;
    transform: scale(1.5);
    transition: .3s;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
}

/* gives the current page the larger button to show it is where you are now */
.active { 
    transform: scale(1.5);
    background-color: #20293f;
}

nav li:active {
    transform: scale(1.5);
    background-color: #20293f;

}

/* --- WELCOME SECTION --- */

#welcome-section {
    background-image: url(imgs/logo1.png);
    background-repeat: no-repeat;
    background-position: right;
    min-height: 55vh;
    padding-top: 45vh;
    margin-right: 5%;
    margin-left: 275px;
    text-align: left;
}

#welcome-section h1 {
    color: #303739;
    font-size: 2.1rem;
}

#welcome-section h2 {
    color: #303739;
    font-size: 1.75rem;
    margin-left: 1.8px;
}

/* --- ABOUT SECTION --- */

#about-section {
    min-height: 55vh;
    padding-top: 45vh;
    margin-left: 275px;
    margin-bottom: 20px;
}

#about-section h1 {
    color: #303739;
    padding-bottom: 20px;
}

#about-section p {
    color: #303739;
    font-size: 1.2rem;
    margin-right: 10%;
}


