html, body {
    margin: 0;
    padding: 0;
    background-color: #ebeced;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

/* --- NAV BAR --- */

#navbar {
    left: 0;
}

nav ul {
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style-type: none;
    width: 10%;
    padding: 15px;
    margin-top: 10%;
    margin-left: 30px;
}

nav li a {
    text-align: center;
    margin: 30px;
    padding: 10px;
    background-color: #a9b0b3;
    border-radius: 25px;
    transition: .3s;
    color: white;
    text-decoration: none;
    display: block;
}

nav li a:hover {
    background-color: #20293f;
    transform: scale(1.5);
    transition: .3s;
}

/* gives the current page the larger button to show it is where you are now */
li .active { 
    transform: scale(1.5);
    background-color: #20293f;
    transition: .3s;
}

/* nav li:active {
    transform: scale(1.5);
    background-color: #20293f;
} */

/* --- WELCOME SECTION --- */

#welcome-section {
    background-image: url(imgs/logo1.png);
    background-repeat: no-repeat;
    background-position: right;
    min-height: 55vh;
    padding-top: 45vh;
    margin-right: 5%;
    margin-left: 275px;
    text-align: left;
}

#welcome-section h1 {
    color: #303739;
    font-size: 2.1rem;
}

#welcome-section h2 {
    color: #303739;
    font-size: 1.75rem;
    margin-left: 1.8px;
}

/* --- ABOUT SECTION --- */

#about-section {
    min-height: 55vh;
    padding-top: 45vh;
    margin-left: 275px;
    margin-bottom: 20px;
}

#about-section h1 {
    color: #303739;
    padding-bottom: 20px;
}

#about-section p {
    color: #303739;
    font-size: 1.2rem;
    margin-right: 10%;
}

/* --- PROJECTS --- */

#projects {
    min-height: 55vh;
    padding-top: 45vh;
    margin-left: 275px;
    margin-bottom: 20px;
    margin-right: 10%;
}

#projects h1 {
    font-size: 2.1rem;
    text-align: center;
    color: #303739;
}

#projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 35px;
    padding-bottom: 45px;
}

#projects-section a {
    text-decoration: none;
    color: #303739;
}

#projects-section a:hover {
    text-decoration: underline;
}

.project-photo {
    height: 200px;
    width: 200px;
    margin-bottom: -4px;
}

.project-tile {
    border: solid 4px #20293f;
}

.project-title {
    font-size: 1.4rem;
    border-top: solid 3px #20293f;
}


/* --- CONTACT FORM --- */

#contact {
    margin-top: 10px;
}

form#contact-form {
    min-height: 55vh;
    padding-top: 45vh;
    margin-left: 40%;
    margin-bottom: 80px;
    margin-right: 60%;
}

form#contact-form fieldset {
    border-radius: .5rem;
    padding-right: 20px;
}

form#contact-form legend {
    font-weight: 700;
    margin-left: 1rem;
    color: #303739;
    font-size: 1.1rem;
}

form#contact-form span {
    display: block;
    padding: .8rem 0 0 .3rem;
    margin-left: 1rem;
}

form#contact-form .contact-info {
    color: #303739;
    width: 20rem;
    border-radius: .6rem;
    border: solid 1px #20293f;
    padding: .4rem;
    margin-left: 1rem;
}

form#contact-form .questions {
    margin-left: 1rem;
    margin-bottom: .8rem;
    border-radius: .6rem;
}

form#contact-form .button {
    width: 20rem;
    padding: .8rem;
    margin-top: 15px;
    margin-left: 28px;
    background-color: #20293f;
    border: solid 1px #000000;
    border-radius: .6rem;
    color: #ffffff;
}

form#contact-form .button:hover {
    cursor: pointer;
}
